# 시스템 파일 제외
*.log
*.dat
*.ini
*.blf
*.regtrans-ms
ntuser.*

# 불필요한 폴더 제외
node_modules/
__pycache__/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive*/
Pictures/
Saved Games/
Searches/
Videos/
