# 시스템 및 사용자 설정 파일 제외
.gitconfig
.python_history
_netrc
ntuser.*
NTUSER.*

# 불필요한 폴더 제외
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive*/
Pictures/
Saved Games/
Searches/
Videos/
__pycache__/
node_modules/

# 특정 프로젝트 관련 추가 제외 항목
Procfile
package-lock.json
proxy.js
server.txt
server.js